[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Andres Montano
	email = andres.montano@tecnalia.com
[credential]
	helper = "!f() { /home/andres/.vscode-server/bin/e8a3071ea4344d9d48ef8a4df2c097372b0c5161/node /tmp/vscode-remote-containers-b73181828d917cf61f4a9b1052dc65e5398349e1.js $*; }; f"
