[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Andres Montano
	email = andres.montano@tecnalia.com
[credential]
	helper = cache --timeout=3600
