[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Andres Montano
	email = andres.montano@tecnalia.com
[credential]
	helper = "!f() { /home/andres/.vscode-server/bin/5235c6bb189b60b01b1f49062f4ffa42384f8c91/node /tmp/vscode-remote-containers-78443714273f4c2fa7b1c4e372d61a2d1eaf9a0b.js $*; }; f"
